#twoj_pause{
	background-position: right top;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bolder;
	color: gray;
	background-color: white;
	padding: 4px;
}

.twoj_news_slide_ul, .twoj_li{
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	list-style-image: none !important;
	background-image: none !important;
	border: 0px none !important;
}
.twoj_li{
	padding: 4px !important;
}


.twoj_news_slide_class1{background-color: #2c2c2c !important;}
.twoj_news_slide_class1 .contentheading{color: White !important; }
.twoj_news_slide_class1 #twoj_pause{ color: White !important; background-color: #2c2c2c !important; }
.twoj_news_slide_class1 .twoj_news_slide_ul{color: White !important;}
.twoj_news_slide_class1 .twoj_news_slide_menu{padding-left: 3px !important;}
.twoj_news_slide_class1 .twoj_news_slide_menu a{
	background-color: #c5c5c5 !important;
	line-height: 20px !important;
	height: 20px !important;
	vertical-align: middle !important;
	font-size: 11px !important;
	color: black !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	text-decoration: none !important;
}
.twoj_news_slide_class1 .twoj_news_slide_menu a.wactive{
	background-color: #2c2c2c !important;
	color: #c8c8c8 !important;
	text-decoration: none !important;
}


.twoj_news_slide_class2{background-color: white !important; }
.twoj_news_slide_class2 #twoj_pause{ color: #929292 !important; }
.twoj_news_slide_class2 .twoj_news_slide_menu{padding-left: 3px !important;}
.twoj_news_slide_class2 .twoj_news_slide_menu a{
	background-color: white !important;
	line-height: 20px !important;
	height: 20px !important;
	vertical-align: middle !important;
	font-size: 11px !important;
	color: black !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	text-decoration: none !important;
}
.twoj_news_slide_class2 .twoj_news_slide_menu a.wactive{
	background-color: #2c2c2c !important;
	color: white !important;
	text-decoration: none !important;
}


.twoj_news_slide_class3{background-color: white; }
.twoj_news_slide_class3 .twoj_news_slide_ul{ background-color: silver;  padding: 0;  margin: 0;  }
.twoj_news_slide_class3 #twoj_pause{ color: #929292; }
.twoj_news_slide_class3 .twoj_news_slide_menu{padding-left: 3px;  background-color: White;  }
.twoj_news_slide_class3 .twoj_news_slide_menu a{
	background-color: white;
	line-height: 12px;
	height: 12px;
	vertical-align: middle;
	font-size: 11px;
	color: black;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
	padding-top: 3px;
	margin-top: 0px;
	
}
.twoj_news_slide_class3 .twoj_news_slide_menu a.wactive{
	background-color: silver;
	color: white;
	text-decoration: none;
}